<% provide(:title, "About") %>
<!DOCTYPE html>

<html>
  <body>
    <h1>About</h1>
    <p>The application Penelope creates books lists for users and helps them to organize reading them.</p>
  </body>
</html>
