<% provide(:title, "Contact") %>
<!DOCTYPE html>

<html>
  <body>
    <h1>Contact</h1>
    <p>
    For more information, please contact one of the following developers e-mails:
    <a href="mailto:gnumore@gmail.com" target="_top">Moreno Garcia</a> or
    <a href="mailto:gabriel.knupfer0910@gmail.com" target="_top">Gabriel Knüpfer</a>.
    </p>
  </body>
</html>
