<% provide(:title, "Help") %>
<!DOCTYPE html>

<html>
  <body>
    <h1>Help</h1>
    <p>
      Bacon ipsum dolor amet chicken pork pastrami pork chop biltong
      t-bone cupim ham hock pork belly andouille leberkas picanha.
      Ball tip short ribs alcatra, ham bacon swine t-bone shankle
      jowl burgdoggen pork chop pork loin bresaola. T-bone cupim
      beef shankle bacon andouille tri-tip short ribs turducken sausage
      tongue pig fatback doner tail. Picanha biltong ham ribeye beef, swine
      leberkas chicken jerky jowl drumstick pork belly.
    </p>
  </body>
</html>
