<% provide(:title, "News") %>
<!DOCTYPE html>

<html>
  <body>
    <h1>News</h1>
    <p>
    Spare ribs bacon pastrami, capicola jowl rump landjaeger frankfurter porchetta
    doner pork loin tail fatback shankle. Leberkas andouille tenderloin frankfurter shoulder.
    Drumstick salami ribeye spare ribs prosciutto short loin, porchetta shoulder tail cupim pig
    fatback tenderloin pork brisket. Pork loin turkey t-bone, turducken bresaola tri-tip short
    loin tail leberkas sirloin spare ribs pork belly. T-bone porchetta shankle venison meatloaf.
    Leberkas capicola boudin beef ribs tri-tip bresaola beef cupim shank.
    </p>
  </body>
</html>
